// Import variables
@import "../variables"

// Base styles for the homepage
.home-page
  background-color: $background-color
  color: $text-color-white
  font-family: $main-text-style
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  min-height: 100vh

// Header styles
.home-page-header
  font-size: $font-size-large
  margin-top: 20px

// Footer styles
.home-page-footer
  margin-bottom: 40px
  width: 100%
  display: flex
  justify-content: center
  align-items: center

// Input container styles
.home-page-input-container
  display: flex
  align-items: center
  background-color: #e0e0e0
  border-radius: 5px
  padding: 8px
  width: 100%
  max-width: 600px

// Input field styles
.home-page-input-text
  padding: 10px
  border-radius: 5px 0 0 5px
  border: none
  width: 100%
  outline: none
  text-align: center
  background-color: #f0f0f0
  border: 1px solid #ccc
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
  transition: border-color 0.3s ease

  &::placeholder
    text-align: center

  &:focus
    border-color: #007bff
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 3px rgba(0, 123, 255, 0.25)

// Button styles
.home-page-send-button
  background: none
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px

  img.w-8
    width: 100%

.home-page-logout-button
  position: absolute
  top: 10px
  right: 10px
  padding: 10px 20px
  background-color: #007bff
  color: #fff
  border: none
  border-radius: 5px
  cursor: pointer
  font-size: 16px
  transition: background-color 0.3s ease

  &:hover
    background-color: #0056b3
