// Use varible
@import "../varible"
// Base styles
body
  background-color: $background-color
  color: $text-color-white
  font-family: $main-text-style
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  height: $width-100
  margin: $width-0

// Header styles
.header
  font-size: $font-size-large
  margin-top: 20px

// Footer styles
.footer
  margin-bottom: 40px
  width: $width-full
  display: flex
  justify-content: center
  align-items: center

  .input-container
    display: flex
    align-items: center
    background-color: #e0e0e0
    border-radius: 5px
    padding: 5px
    width: $width-full
    max-width: 600px

    input
      padding: 10px
      border-radius: 5px 0 0 5px
      border: none
      width: $width-full
      outline: none
      text-align: center

      &::placeholder
        text-align: center

    button
      background: none
      border: none
      cursor: pointer
      align-items: center
      justify-content: center
      width: 40px
      height: 40px
      img
        width: 30px
